body {
    background-color: #CCD1D1;
    font-family: "Times New Roman",  serif;
    font-size: 16px;
    color: #333333; /* 整體文字顏色設為深灰色 */
    line-height: 1.5; /* 行距設為 1.5 倍字體大小 */
}

:lang(zh) {
    font-family: "Noto Serif Traditional Chinese", sans-serif;
    font-size: 18px; /* 中文字體稍大 */
    font-weight: 500; /* 稍粗一點 */
}

h1 {
    font-size: 32px; /* 標題 1 設為 32 像素 */
    font-weight: bold; /* 標題設為粗體 */
    color: #0000FF; /* 標題設為藍色 */
}

h2 {
    font-size: 14px; /* 段落文字設為 14 像素 */
    font-weight: normal; /* 段落文字設為正常粗細 */
    color: #000000; /* 段落文字設為黑色 */
}

pre {
    font-family: "Courier New", monospace;
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
}
